.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;

  .foldersInputsList {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;

    .foldersInputsItem {
      display: flex;
      flex-direction: column;
      flex: 1;
      max-width: 360px;
      padding: 16px;
      gap: 8px;

      .fieldTitle {
        font-size: 14px;
      }
    }
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}